<p class="fs-2">Welcome to my first Ruby on Rails application! Here are some things that went well:</p>
<ul class="list-group">
  <li class="list-group-item">Ruby on Rails and Postgresql configuration</li>
  <li class="list-group-item">Database creation and initialization</li>
  <li class="list-group-item">User facing front end</li>
  <li class="list-group-item">Navigation bar using Bootstrap</li>
  <li class="list-group-item">Create a new doctor by clicking on the button above the chart</li>
  <li class="list-group-item">Click on "Show this doctor" to view a more detailed information and/or delete a doctor </li>
  <li class="list-group-item"> Click on "Show this Patient" to view a more detailed information and/or to delete a patient</li>
  <li class="list-group-item">User can directly create a patient under the doctor table by clicking "add new patient".
  It will then redirect the page to the "new patient form". The user has to enter the patient name only in order to save the patient under the doctor previously selected. 
  </li>
  <li class="list-group-item">relational database using foreign key and primary key</li>
  <li class="list-group-item">seeding the database</li>
</ul>
</br>
<p class="fs-2">Here are areas where I can improve on:</p>

<ul class="list-group">
  <li class="list-group-item">After creating the appointments table, the model, view, controller, etc files did not auto generate. 
  After researching on google, I tried many of the suggested solutions such as restarting the server, but none of them worked.</li>
  <li class="list-group-item"> I need to figure how to get appointments table columns doctor_id and patient_id to reference id in the Doctor table and id in the Patient table. My guess is that it is similar to 
  how I set up foreign keys for patients to reference a specific Doctor.n</li>

</ul>







