<div id="<%= dom_id patient %>">

  <div>
  <%= form.label :name, style: "display: block" %>
  <%= form.text_field :patient.name %>
  <%= form.hidden_field :doctor_id, value: params[:id] %>
 

</div>
</div>
