@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Play&family=Rokkitt:wght@100&display=swap');

.text {
  font-family: 'Patrick Hand', cursive;
  font-family: 'Play', sans-serif;
  font-family: 'Rokkitt', serif;
}
